
@section HEAD{
    <title>景點介紹</title>
    <link href="~/Content/attractions-introduction-2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/rating.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/rating.js"></script>
}

<div class="header">
    <h1 class="title">景點介紹</h1>
</div>
<div class="choosing">
    <div class="category">
        <img src="~/Image/category-icon/人文.png">
        <span>人文</span>
    </div>
    <div class="category">
        <img src="~/Image/category-icon/人造景觀.png">
        <span>人造景觀</span>
    </div>
    <div class="category">
        <img src="~/Image/category-icon/休閒.png">
        <span>休閒</span>
    </div>
    <div class="category">
        <img src="~/Image/category-icon/自然.png">
        <span>自然</span>
    </div>
    <div class="category">
        <img src="~/Image/category-icon/宗教.png">
        <span>宗教</span>
    </div>
</div>

<div class="center">
    <div class="grid">
        <div id="attractions" class="row"></div>
    </div>
</div>

<div id="attraction-detail" hidden>
    <div class="overlay" onclick="closeDetail()"></div>

    <div class="overlay-dialogue">
        <img src="~/Image/popS.png" class="popIcon">
        <div class="placeName"></div>
        <div class="popIntro">
            <div class="popImage"></div>           
            <div class="popInfo" style="margin-top:-90px;">
                <div class="function">
                    <div class="rate">
                        <span style="font-size:14pt;color: rgba(115, 99, 120, 1);">評分：</span>
                        <div class="ui large star rating">
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                        </div>
                    </div>
                </div>
                <h3>資訊</h3>
                <hr>
                <p>
                    <span>電話：</span>
                    <span class="phone"></span>
                    <br>
                    <span>地址：</span>
                    <span class="address"></span>
                </p>
            </div>
            <div class="popDetail">
                <h3>簡介</h3>
                <hr>
                <p class="detail"></p>                
            </div>
            <div class="close">
                <div style="width:30px;height:30px;margin:auto;">
                    <label onclick="closeDetail()" style="cursor:pointer">
                        <img src="~/Image/close.png" title="關閉" alt="關閉"/>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
</div>

<script>
    //拿取所有景點資料，用在<景點介紹>頁面
    var attrData
    $.ajax({
        url: '/Home/AttractionsInfo',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            attrData = data
            for (var i = 0; i < data.length; ++i) {
                var html = '<div class="col-sm-4 attraction-intro" data-id="' + data[i][0] + '">'
                html += '<div class="photo"><img src="/Image/pictures/' + data[i][0] + '.jpg" alt=""></div>'
                html += '<div class="intro">'
                html += '<img src="/Image/category-icon/' + data[i][11] + '.png">'
                html += '<div class="detail">'
                html += '<h2>' + data[i][1] + '</h2>'
                html += '<hr/>'
                html += '<p>高雄市 ' + data[i][2] + '</p>'
                html += '</div>'
                html += '<div class="button" onclick="popupDetail($(this))">了解更多</div>'
                //html += '<label for="our-popup"><div class="button" onclick="lockScroll()"><b>了解更多</b></div></label>'
                html += '</div></div>'
                $('#attractions').append(html)
            }
            console.log(data)
        }
    })

    function findAttr(id) {
        for (var i = 0; i < attrData.length; ++i) {
            if(id == attrData[i][0])
                return attrData[i]
        }
        return null
    }

    function popupDetail(button) {
        attrId = button.parents('.attraction-intro').data('id')
        attr = findAttr(attrId)
        $detail = $('#attraction-detail')
        $detail.find('.placeName').html('<span>' + attr[1] + '</span>')
        $detail.find('.popImage').html('<img src="/Image/pictures/' + attrId + '.jpg"/>')
        $detail.find('.phone').html(attr[4])
        $detail.find('.address').html(attr[5])
        $detail.find('.detail').html(attr[3])
        $detail.show()
    }

    function closeDetail() {
        $('#attraction-detail').hide()
    }

    /*//輸入旅遊時段，得出開放時間匹配此時段的景點，用在<顯示安排結果>頁面
    $.ajax({
        url: '/Home/AttractionReplacement',
        data: {
            week: 3,
            startTime: '08:00',
            endTime: '12:00'
        },
        type: 'POST',
        dataType: 'json',
        success: function (data) {
            console.log(data)
        }
    })*/

    $('.ui.rating')
    .rating({
        initialRating: 3,
        maxRating: 5
    })
</script>


