@section HEAD{
    <title>安排結果</title>
    <link href="~/Content/schedule_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/rating.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/rating.js"></script>
}

<div class="schedule">
    <div class="container text-center" style="width:100%;">
        <h3>行程總覽</h3>
        <div class="container" style="height:600px;width:85%;">
            <div class="row text-center" style="margin-top:10px;height:100%;">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                    <div class="schedule-detail">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                    <div class="schedule-detail" style="overflow:scroll">
                        <select style="margin:20px 0 10px 0;font-size:12pt">
                            <option value="">8/21</option>
                            <option value="">8/22</option>
                            <option value="">8/23</option>
                            <option value="">8/24</option>
                        </select>
                        <div class="row text-center" style="width:100%;height:60px;margin-top:5px">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                                <div style="width:50px;height:50px;border-radius:100%;border:4px solid #34495E;background-color:#FAF6C2;margin-left:40px">
                                    <span style="line-height:45px;color:#34495E;">8:00</span>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                                <label for="our-popup"><span class="place-btn" style="font-weight:bold;line-height:50px;margin-left:-110px" onclick="lockScroll()">東海無名早餐</span></label>
                            </div>
                        </div>
                        <div class="row text-center" style="width:100%;height:60px;margin-top:5px">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                                <div style="width:50px;height:50px;border-radius:100%;border:4px solid #34495E;background-color:#FAF6C2;margin-left:40px">
                                    <span style="line-height:45px;color:#34495E;">9:00</span>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                                <label for="our-popup"><span class="place-btn" style="font-weight:bold;line-height:50px;margin-left:-110px" onclick="lockScroll()">東海大學</span></label>
                            </div>
                        </div>
                        <div class="row text-center" style="width:100%;height:60px;margin-top:5px">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                                <div style="width:50px;height:50px;border-radius:100%;border:4px solid #34495E;background-color:#FAF6C2;margin-left:40px">
                                    <span style="line-height:45px;color:#34495E;">12:30</span>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                                <label for="our-popup"><span class="place-btn" style="font-weight:bold;line-height:50px;margin-left:-110px" onclick="lockScroll()">大魯閣壘球打擊場台中中科館</span></label>
                            </div>
                        </div>
                        <div class="row text-center" style="width:100%;height:60px;margin-top:5px">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                                <div style="width:50px;height:50px;border-radius:100%;border:4px solid #34495E;background-color:#FAF6C2;margin-left:40px">
                                    <span style="line-height:45px;color:#34495E;">16:00</span>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                                <label for="our-popup"><span class="place-btn" style="font-weight:bold;line-height:50px;margin-left:-110px" onclick="lockScroll()">高美濕地</span></label>
                            </div>
                        </div>
                        <div class="row text-center" style="width:100%;height:60px;margin-top:5px">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                                <div style="width:50px;height:50px;border-radius:100%;border:4px solid #34495E;background-color:#FAF6C2;margin-left:40px">
                                    <span style="line-height:45px;color:#34495E;">18:00</span>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                                <label for="our-popup"><span class="place-btn" style="font-weight:bold;line-height:50px;margin-left:-110px" onclick="lockScroll()">中友百貨</span></label>
                            </div>
                        </div>
                        <div class="row text-center" style="width:100%;height:60px;margin-top:5px">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                                <div style="width:50px;height:50px;border-radius:100%;border:4px solid #34495E;background-color:#FAF6C2;margin-left:40px">
                                    <span style="line-height:45px;color:#34495E;">20:00</span>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                                <label for="our-popup"><span class="place-btn" style="font-weight:bold;line-height:50px;margin-left:-110px" onclick="lockScroll()">一中夜市</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container" style="height:150px;margin-top:10px;width:30%;">
        <div class="row text-center" style="margin-top:10%;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-default" style="border-radius:5px;border: 1px solid #ccc;width:100px;height:45px" onclick="">確認</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="reset" class="btn btn-default" style="border-radius:5px;border: 1px solid #ccc;width:100px;height:45px" onclick="">重設</button>
            </div>
        </div>
    </div>
</div>
<span>
    <input type="checkbox" id="our-popup" class="smoosh" />
    <!-- invisible; when checked, the popup opens -->
    <label for="our-popup" class="overlay" onclick="unLockScroll()"></label>
    <!-- the popup starts here -->
    <div class="overlay-dialogue">
        <!-- </div>
        </span> -->
        <img src="~/Image/popS.png" class="popIcon">
        <div class="placeName">
            <span>台北101 觀景台</span>
        </div>

        <div class="popIntro">
            <div class="popImage">
                <img src="~/Image/s1011.jpg" alt="">
            </div>
            <div class="popInfo">
                <div class="function">
                    <div class="rate">
                        <span style="font-size:14pt;color: rgba(115, 99, 120, 1);">評分：</span>
                        <div class="ui large star rating">
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                        </div>
                    </div>
                    <div class="collect">
                        <span style="font-size:14pt;color: rgba(115, 99, 120, 1);">收藏：</span>
                        <img src="~/Image/unlike.png" alt="" id="like" onclick="likeOnClick()">
                    </div>
                </div>
                <h3>資訊</h3>
                <hr>
                <p>
                    <span>電話：</span>
                    <span>02-8101-7777</span>
                    <br>
                    <span>地址：</span>
                    <span>台灣臺北市信義區信義路五段7號</span>
                    <br>
                    <span>網址：</span>
                    <span><a href="http://www.taipei-101.com.tw/">http://www.taipei-101.com.tw/</a></span>
                </p>
            </div>
            <div class="popDetail">
                <h3>簡介</h3>
                <hr>
                <p>
                    Taipei101大樓位在台北市信義區，是台北市的著名地標，共有地上101層及地下5層，
                    總高度達到508公尺，目前為世界第一高樓。Taipei101大樓主要共分為購物中心、辦公大樓
                    及景觀台，是一棟集合時尚、觀光、商業及文化的大樓，內部有多家銀行及證券金融中心服務於
                    此，並有多家著名大型企業進駐，購物中心內則有時尚服飾、精品、化妝品、書店、餐廳及美食
                    街等店家，88、89及91樓則為室內與戶外觀景台，民眾可購票前往俯瞰台北市，享受居高臨下
                    的視覺饗宴。Taipei101大樓近年來更連續在跨年時刻施放大型煙火及燈光效果，是台北市跨
                    年活動中主要的重頭戲。
                </p>
            </div>
            <div class="close">
                <label for="our-popup">
                    <img src="~/Image/close.png" title="關閉" alt="關閉" onclick="unLockScroll()">
                </label>
            </div>
        </div>
    </div>
</span>
<script>
     function lockScroll() {
         document.body.style.overflow = "hidden";
     }

     function unLockScroll() {
         document.body.style.overflow = "auto";
     }

     function likeOnClick() {
       var like=0;
       if (like==0) {
         document.getElementById("like").src="~/Image/like.png";
         like=1;
       }
       else if (like==1) {
         document.getElementById("like").src="~/Image/unlike.png";
         like=0;
       }
     }

     $('.ui.rating')
       .rating({
         initialRating: 3,
         maxRating: 5
       })
     ;
</script>
<script>
      var map;
      function initMap() {
        var location = {lat: 23.7, lng: 121.044};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: location
        });
      }
      // AIzaSyDLjh7h3mDZjw7aC8w0NajWoRgThCAf1mE
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLjh7h3mDZjw7aC8w0NajWoRgThCAf1mE&callback=initMap"
        type="text/javascript"></script>



