@section HEAD{
    <title>安排結果</title>
    <link href="~/Content/schedule_style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/rating.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/components/rating.js"></script>
}

<div class="header" style=""></div>

<div class="schedule">
    <div class="container text-center" style="width:100%;">
        <h3>行程總覽</h3>
        <div class="container" style="height:600px;width:85%;">
            <div class="row text-center" style="margin-top:10px;height:100%;">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="height:100%;">
                    <div id="map" style="border:1px solid"></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:100%;">
                    <div class="schedule-detail">
                        <div class="dropdown" style="display:inline-block">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="date">日期</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu schedule-dates"></ul>                            
                        </div>
                        <div class="schedule-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="ui container" style="height:150px;margin-top:10px;width:30%;">
        <div class="row text-center" style="margin-top:10%;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-default" style="border-radius:5px;border: 1px solid #ccc;width:100px;height:45px" onclick="">確認</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button type="reset" class="btn btn-default" style="border-radius:5px;border: 1px solid #ccc;width:100px;height:45px" onclick="">重設</button>
            </div>
        </div>
    </div>*@
</div>

<div id="attraction-detail" hidden>
    <div class="overlay" onclick="closeDetail()"></div>

    <div class="overlay-dialogue">
        <img src="~/Image/popS.png" class="popIcon">
        <div class="placeName"></div>
        <div class="popIntro">
            <div class="popImage"></div>
            <div class="popInfo" style="margin-top:-90px;">
                <div class="function">
                    <div class="rate">
                        <span style="font-size:14pt;color: rgba(115, 99, 120, 1);">評分：</span>
                        <div class="ui large star rating">
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                            <i class="icon"></i>
                        </div>
                    </div>
                </div>
                <h3>資訊</h3>
                <hr>
                <p>
                    <span>電話：</span>
                    <span class="phone"></span>
                    <br>
                    <span>地址：</span>
                    <span class="address"></span>
                    <br>
                    <span>分類：</span>
                    <span class="category"></span>
                </p>
            </div>
            <div class="popDetail">
                <h3>簡介</h3>
                <hr>
                <p class="detail"></p>
            </div>
            <div class="close">
                <div style="width:30px;height:30px;margin:auto;">
                    <label onclick="closeDetail()" style="cursor:pointer">
                        <img src="~/Image/close.png" title="關閉" alt="關閉" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     function lockScroll() {
         document.body.style.overflow = "hidden";
     }

     function unLockScroll() {
         document.body.style.overflow = "auto";
     }

     function likeOnClick() {
       var like=0;
       if (like==0) {
         document.getElementById("like").src="~/Image/like.png";
         like=1;
       }
       else if (like==1) {
         document.getElementById("like").src="~/Image/unlike.png";
         like=0;
       }
     }

     $('.ui.rating')
       .rating({
         initialRating: 3,
         maxRating: 5
       })
     ;
</script>

<script>

    /*//輸入旅遊時段，得出開放時間匹配此時段的景點，用在<顯示安排結果>頁面
    $.ajax({
        url: '/Home/AttractionReplacement',
        data: {
            week: 3,
            startTime: '08:00',
            endTime: '12:00'
        },
        type: 'POST',
        dataType: 'json',
        success: function (data) {
            console.log(data)
        }
    })*/

    var arrangeData
    $.ajax({
        url: '/Home/arrangeAttractions',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            arrangeData = data
        }
    })

    $.ajax({
        url: '/Home/arrangeDates',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var $scheduleDates = $('.schedule-dates').html('')
            var $dropdown = $scheduleDates.parent()
            for (var i = 0; i < data.length; ++i) {
                $scheduleDates.append('<li style="cursor:pointer"><a data-index="' + i + '">' + data[i] + '</a></li>')
            }

            $scheduleDates.find('a').click(function () {
                var index = $(this).data('index')
                var $scheduleList = $('.schedule-list').html('')
                $scheduleDates.siblings('button').find('.date').text($(this).text())

                for (var i = 0; i < arrangeData[index].length; ++i) {
                    var html = '<div class="row attraction-intro" data-id="' + arrangeData[index][i].attr.id + '">'
                    html += '<div class="col-md-4" style="white-space:nowrap">'
                    html += '<div class="time-circle">' + arrangeData[index][i].startTime + '</div>'
                    html += '<div class="time-circle-middle">~</div>'
                    html += '<div class="time-circle">' + arrangeData[index][i].endTime + '</div>'
                    html += '</div>'
                    html += '<div class="col-md-8" style="white-space:nowrap;text-align:center">'
                    html += '<label for="our-popup"><span class="place-btn" onclick="popupDetail($(this))">' + arrangeData[index][i].attr.name + '</span></label>'
                    html += '</div></div>'
                    html += '<hr/>'
                    $scheduleList.append(html)
                }
            })
        }
    })

    var attrData
    $.ajax({
        url: '/Home/AttractionsInfo',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            attrData = data
        }
    })

    function findAttr(id) {
        for (var i = 0; i < attrData.length; ++i) {
            if (id == attrData[i][0])
                return attrData[i]
        }
        return null
    }

    function popupDetail(button) {
        attrId = button.parents('.attraction-intro').data('id')        
        attr = findAttr(attrId)
        $detail = $('#attraction-detail')
        $detail.find('.placeName').html('<span>' + attr[1] + '</span>')
        $detail.find('.popImage').html('<img src="/Image/pictures/' + attrId + '.jpg"/>')
        $detail.find('.phone').html(attr[4])
        $detail.find('.address').html(attr[5])
        $detail.find('.category').html(attr[11])
        $detail.find('.detail').html('<span>　　</span>' + attr[3])
        $detail.show()

        $('.ui.rating').rating({
            initialRating: Math.round(parseFloat(attr[12]) / 0.2),
            maxRating: 10
        })
    }

    function closeDetail() {
        $('#attraction-detail').hide()
    }
</script>

<script>
      var map;
      function initMap() {
        var location = {lat: 23.7, lng: 121.044};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: location
        })
      }
      // AIzaSyDLjh7h3mDZjw7aC8w0NajWoRgThCAf1mE
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLjh7h3mDZjw7aC8w0NajWoRgThCAf1mE&callback=initMap"
        type="text/javascript"></script>



